[submodule "pack/plugin/start/hotpot.nvim"]
	path = pack/plugin/start/hotpot.nvim
	url = git@github.com:rktjmp/hotpot.nvim
[submodule "pack/plugin/start/nvim-treesitter"]
	path = pack/plugin/start/nvim-treesitter
	url = git@github.com:nvim-treesitter/nvim-treesitter.git
[submodule "pack/plugin/start/mason.nvim"]
	path = pack/plugin/start/mason.nvim
	url = git@github.com:williamboman/mason.nvim
[submodule "pack/plugin/start/nvim-lspconfig"]
	path = pack/plugin/start/nvim-lspconfig
	url = git@github.com:neovim/nvim-lspconfig
[submodule "pack/plugin/start/mason-lspconfig.nvim"]
	path = pack/plugin/start/mason-lspconfig.nvim
	url = git@github.com:williamboman/mason-lspconfig.nvim
[submodule "pack/plugin/start/nvim-cmp"]
	path = pack/plugin/start/nvim-cmp
	url = git@github.com:hrsh7th/nvim-cmp
[submodule "pack/plugin/start/cmp-nvim-lsp"]
	path = pack/plugin/start/cmp-nvim-lsp
	url = git@github.com:hrsh7th/cmp-nvim-lsp
[submodule "pack/plugin/start/cmp_luasnip"]
	path = pack/plugin/start/cmp_luasnip
	url = git@github.com:saadparwaiz1/cmp_luasnip
[submodule "pack/plugin/start/LuaSnip"]
	path = pack/plugin/start/LuaSnip
	url = git@github.com:L3MON4D3/LuaSnip
[submodule "pack/plugin/start/plenary.nvim"]
	path = pack/plugin/start/plenary.nvim
	url = git@github.com:nvim-lua/plenary.nvim
[submodule "pack/plugin/start/nvim-web-devicons"]
	path = pack/plugin/start/nvim-web-devicons
	url = git@github.com:nvim-tree/nvim-web-devicons
[submodule "pack/plugin/start/telescope.nvim"]
	path = pack/plugin/start/telescope.nvim
	url = git@github.com:nvim-telescope/telescope.nvim
[submodule "pack/plugin/start/telescope-fzf-native.nvim"]
	path = pack/plugin/start/telescope-fzf-native.nvim
	url = git@github.com:nvim-telescope/telescope-fzf-native.nvim
[submodule "pack/plugin/start/nvim-terminal"]
	path = pack/plugin/start/nvim-terminal
	url = git@github.com:s1n7ax/nvim-terminal
[submodule "pack/plugin/start/neo-tree.nvim"]
	path = pack/plugin/start/neo-tree.nvim
	url = git@github.com:nvim-neo-tree/neo-tree.nvim
[submodule "pack/plugin/start/nui.nvim"]
	path = pack/plugin/start/nui.nvim
	url = git@github.com:MunifTanjim/nui.nvim
